<table border="1" style="border-collapse: collapse; width: 100%;">
    <tr>
        <th colspan="2">社員情報</th>
        <th colspan="2">会社情報</th>
    </tr>
    <tr>
        <td>名前</td>
        <td>成田 東京</td>
        <td>企業名</td>
        <td>フレックスカンパニー</td>
    </tr>
    <tr>
        <td>所属部署</td>
        <td>本部</td>
        <td>住所</td>
        <td>海浜幕張</td>
    </tr>
    <tr>
        <td>契約形態</td>
        <td>正社員</td>
        <td>責任者</td>
        <td>ジャンガ責任者</td>
    </tr>
    <tr>
        <th colspan="4">雇用期間</th>
    </tr>
    <tr>
        <td colspan="2">期間</td>
        <td colspan="2">無期限雇用</td>
    </tr>
    <tr>
        <td>開始日</td>
        <td>2024-04-01</td>
        <td>終了日</td>
        <td>記入なし</td>
    </tr>
    <tr>
        <th colspan="4">勤務地</th>
    </tr>
    <tr>
        <td colspan="4">海浜幕張</td>
    </tr>
    <tr>
        <th colspan="4">仕事内容</th>
    </tr>
    <tr>
        <td colspan="4">システム開発</td>
    </tr>
    <tr>
        <th colspan="4">就業時間</th>
    </tr>
    <tr>
        <td colspan="2">開始時間</td>
        <td colspan="2">2024-04-01 時から 時</td>
    </tr>
    <tr>
        <td colspan="4">休憩時間: &lt;%break_hours%&gt; 時間</td>
    </tr>
    <tr>
        <th colspan="4">就業日</th>
    </tr>
    <tr>
        <td colspan="4">5</td>
    </tr>
    <tr>
        <th colspan="4">休日</th>
    </tr>
    <tr>
        <td colspan="4">土、日</td>
    </tr>
    <tr>
        <th colspan="4">保険</th>
    </tr>
    <tr>
        <td>健康保険契約</td>
        <td>対象者</td>
        <td>厚生年金保険契約</td>
        <td>対象者</td>
    </tr>
    <tr>
        <td>雇用保険契約</td>
        <td>対象者</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th colspan="4">給与形態</th>
    </tr>
    <tr>
        <td>基本給</td>
        <td>300,000 円</td>
        <td>合計</td>
        <td>330,000 円</td>
    </tr>
    <tr>
        <td>残業時間</td>
        <td>0 時間</td>
        <td>残業手当</td>
        <td>1,200 円/時間</td>
    </tr>
    <tr>
        <td>控除</td>
        <td>1,600 円/時間</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th colspan="4">手当</th>
    </tr>
    <tr>
        <td>住宅手当</td>
        <td>10,000 円/月</td>
        <td>役職手当</td>
        <td>40,000 円/月</td>
    </tr>
    <tr>
        <td>資格手当</td>
        <td>6,000 円/月</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <th colspan="4">支払条件</th>
    </tr>
    <tr>
        <td colspan="4">
            毎月31日締切り、25日後御社指定口座に銀行振込により支給する。支給日が銀行休業日に応じる場合は、直後の銀行営業日に繰り下げて支給する。
        </td>
    </tr>
    <tr>
        <th colspan="4">その他の契約内容</th>
    </tr>
</table>
